body{
  margin: 0 !important;
    padding: 0 !important;

}

.Kurslar{

  width:100%;
  height:auto;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  padding: 20px;
  flex-wrap: wrap;
}

.Kurs_box{
  background-color: #fafafa;
width: 18rem;
height: auto;
 margin: 10px;
 padding: 1rem 1rem 5rem;
 border-radius: 0.3rem;
box-shadow: 10px 10px 20px #ccc;
cursor: pointer;
transition: all 0.3s ease-in-out;

}

.course_content{
  text-align: justify;
  position: relative;
top: 2rem

}


.Kurs_box:hover{
box-shadow: 10px 10px 20px #aaa;
transform: scale(1.02);
transition: all 0.3s ease-in-out;

}

.course_content a{
text-decoration: none;
color: #fafafa;
background-color: rgb(145, 173, 200);
padding: 5px 10px;
position: absolute;
top: 5rem;
border-radius: 0.3rem;
transition: all 0.3s ease-in-out;
}


.course_content a:hover{
background-color: #AED6CF;
transition: all 0.3s ease-in-out;
}